* {
    font-family : 'Heebo', 'san-serif';
}

.hero-header-container {
    position: relative;
    z-index: 3;
    background-color: #002738;
    width: 100%;
    
    .hero-header {
        display: flex;
        align-items: center;
        margin: 0 auto; 
        margin: 0px 5%;  
        height: calc(85px + 13vw);
        height: clamp(78px, calc(19.5vw), 20vw);
        @media screen and (max-width: 375px) {
            max-width: 100%;
            max-height: 78px;
        }
        img {
            
            width: 62%;

            @media screen and (max-width: 375px) {
                height: 25.66px;
            }
        }
    }
    
}

.hero-container {
    position: relative;
    
    .hero-banner{   
        .hero-banner-typography {
            
            position: absolute;
            z-index: 1;
            margin: clamp(62px, 6vw,8vw) 5%;
            // margin-top: clamp(62px, 4vw, 4vw);
            max-width: 30%;
            @media screen and (max-width: 1024px) {
                max-width: 100%;
                margin: 62px 5%;
            }

            // needs to be global
            h3 {
                font-weight: 400;
                font-size: clamp(19px,1.5vw,2vw);
                line-height: calc(1.5vw);
            }

            // needs to be global
            h2 {
                line-height: clamp(30px, 2.5vw, 5vw);
                margin-top: calc(0.8vw);
                font-size: clamp(24px,2.2vw,4vw);
                font-weight: 700;
                @media screen and (max-width: 375px) {
                    max-width: 100%;
                }
            }

            p {
                font-size: 14px;
                margin-top: 11px;
                max-width: 515px;
            }
        }
      
        .video-wrapper {
            position:relative;
            font-size:0;
            max-height: clamp(560px, 40vw, 2000px);
            @media screen and (max-width: 768px) {
                height: calc(390px + 10vh);
            }
            video {
                filter: brightness(50%);
                
            }
            .template-hero-video {
                object-position: 52% 50%;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            
        }
    }
}

// global css

.button-cta-rounded{
    margin-top: 30px;
    padding: clamp(5px,1vw,-8vw) clamp(26px,22vw,3vw);
    background-color: #ffffff00;
    color: white;
    border-radius: 100px;
    border: 1px rgb(255, 255, 255) solid;
    font-size: clamp(14.4px, 1.5vw, 4vw);
}



.growth-section-container{

    
    .growth-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .image-two {
            width: 50%;
            @media screen and (max-width: 1024px) {
                display: none;
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        img {
            width: 50%;
            @media screen and (max-width: 1024px) {
                display: none;
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}




.careers-tab-section{
    
    .hero-container {
        position: relative;
        
        .hero-banner{   
            .hero-banner-typography {
                
                position: absolute;
                z-index: 1;
                margin: clamp(62px, 6vw,8vw) 5%;
                // margin-top: clamp(62px, 4vw, 4vw);
                max-width: 30%;
                @media screen and (max-width: 1024px) {
                    max-width: 100%;
                    margin: 62px 5%;
                }

            }
          
            .video-wrapper {
                position:relative;
                font-size:0;
                max-height: clamp(560px, 40vw, 2000px);
                @media screen and (max-width: 768px) {
                    height: calc(390px + 10vh);
                }
                video {
                    filter: brightness(50%);
                    
                }
                .template-hero-video {
                    object-position: 52% 50%;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
            }
        }

        .hero-banner {
            img {
                width: 100%;
                height: clamp(319px,39.8vw,20.5vw);
            }
            .hero-banner-typography{
                p {
                    font-size: clamp(12px,1.2vw,2vw);
                    line-height: clamp(22px,1.5vw,2vw);
                    max-width: 100%;
                    font-weight: 700;
                }

                h2{
                    margin-top: 0;
                }

            }
        }
    }
}



.benefit-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0px auto;
    padding: 64px 0px;
    width: 100%;
    
    h2 {
        color: #004E78;
        font-size: clamp(30px,2.2vw,4vw);
        font-weight: 700;
    }
    .benefit-section-content {
      
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        width:90%;
        padding: 0px 5%;
 
        .benefit-section-card {
            display: flex;
            flex-direction: column;
            margin-top: clamp(34px, 2vw, 2vw);
            width: clamp(157px, 10vw, 10vw);
            
            @media screen and (max-width: 393px) {
                width: 45%;
            }
            font-family: 'Pragati Narrow', 'serif';
            img {
                width: 80%;
                margin: 0 auto;
            }
            hr {
                width: 100%;
                color: #004E78;
                margin-top: 27.5px;
            }

            h3 {
                font-size: clamp(14px,1.5vw,2vw);
                color: #004E78;
            }
        }
    }

    button {
        color: #004E78;
        border: solid #004E78 1px;
    }
}

.hide {
    @media screen and (max-width: 1023px) {
        display: none;
    }

}