/* GLOBAL Styles */

/* Varibles - Fonts */
$Hepta: 'Hepta Slab', serif;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Pragati+Narrow&display=swap');


/* Variables - Colors */
$white: #fff;
$lightgray: #F7F7F8;
$mediumgray: #C9C9C9;
$darkgray: #7E7D7E;
$charcoal: #4B4846;
$orange: #E96948;

/* sizes */
$xl: 1640px;
$lg: 1200px;
$mdlg: 960px;
$md: 767px;
$sm: 480px;

/* font sizes */
$h1: 75px;
$h2: 55px;
$h3: 45px;
$h4: 40px;
$h5: 28px;
$h6: 24px;
$p: 24px;

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
   
html {
  box-sizing: border-box;
}


.btn-base {

}
.btn-gray {
  background-color: $charcoal;
  padding: 20px;
}
.btn-orange {
  background-color: $orange;
  padding: 20px;
}
.btn-base-2 {
  text-decoration: underline;
  font-size: 18px;
}