
.content {
    
    @media screen and (max-width: 375px) {
        margin-top: 2.9%;
    }

}

.sticky {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 100px;
}


// .navbar {
//     min-height: 74px;
//     @media screen and (max-width: 375px) {
//         display: none;
//     }
// }

.navbar-mini {
    display: none;

    @media screen and (max-width: 375px) {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        width: 100%;
        max-width: 100%;
    }
}


.navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navbar-content-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    
        .imaginuity-logo{
            height: 60px;
            object-fit:cover;
        }
        
        .navbar-menu-wrapper{
            display: flex;
            align-items: center;
            gap: 0px 17px;
        
            @media screen and (max-width: 900px) {
                h2.brand , h2.media, h2.technology, button{
                    display: none;
                }
                .phone-icon{
                    display: block;
                }
            }
            @media screen and (min-width: 900px) {
                .phone-icon{
                    display: none;
                }
            }
            .brand {
                color: #009CEB;
            }
            .media {
                color: #89C43E;
            }
            .technology {
                color: #E02D75;
            }
            h2 {
                font-size: 15px;
            }
            button {
                background-color:  #009CEB;
                border: none;
                height: 34px;
                border-radius: 20px;
        
                a {
                    text-decoration: none;
                    color: white;
                    margin: 0px 16px;
                }
            }
            .imaginuity-icons{
                height: 23px;
            }

            #minibar-icon {
                display: none;
            
                @media screen and (max-width: 900px) {
                    display: block;
                }
            }
        }
    }

    .navbar-mini-menu-wrapper{
        width: 100%;
        color: rgb(102, 102, 102);
        padding-top: 20px;
        .brand {
            color: #009CEB;
        }
        .media {
            color: #89C43E;
        }
        .technology {
            color: #E02D75;
        }
    }
    
}

.hidden{
    display: none;
}

